@import 'kids/_kids_variables.less';

// responsive is below

body.kidspage {
	
  //////////////////////////////////////////////////////////////////////////////
  // home, search results and lpf search filters
  //////////////////////////////////////////////////////////////////////////////
  .search-filter-bar {
    .kids-clearfix();
    * {
        box-sizing: border-box;
    }
    background-color: #f5f5f5;
    position: relative;
    z-index: 1000;

    > ul, > ul li, div.active-eligible {
        float: left;
    }
    > ul li, div.active-eligible {
        .kids-dashed-border-top();
    }
    &.filter-open > ul li,
    &.filter-open div.active-eligible {
        border-bottom: 1px solid #ccc;
    }
    > ul {
        list-style: none;
        margin: 0; padding: 0;
        width: 75%;
        li {
            width: 25%;
            text-align: center;
            margin: 0;
            padding: 0;
            font-size: 15px;
            line-height: 60px;
            color: @kids-blue2;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: normal;
            border-bottom-color: transparent;

            span.filter-icon {
                font-size: 28px;
                display: inline-block;
                vertical-align: -24%;
            }
            span.filter-caret-up { display: none; }
            &.active {
                border-top: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid transparent;
                background-color: #fff;
                span.filter-caret-up { display: inline-block; }
                span.filter-caret-down { display: none; }
            }
        }
    }
    div.active-eligible {
        width: 25%;
        line-height: 60px;
        position: relative;
        margin-top: 0;
        padding-bottom: 0;
        border-bottom: 0 none;
        input {
            margin-left: 10px;
        }
        span.logo {
          margin: 0 0 0 40px;
          background: url('/images/sprite-logos.png') no-repeat 0 -338px;
          display: inline-block;
          height: 20px;
          width: 22px;
          line-height: 0;
          vertical-align: -6px;
        }
        span.help {
            color: white;
            font-size: 11px;
            line-height: 16px;
            font-weight: bold;
            width: 16px;
            height: 16px;
            display: inline-block;
            background-color: #999;
            border-radius: 16px;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: #666;
            }
        }
        .jquery-checkbox-wrapper {
          top: 22px;
          left: 16px;
        }
    }

    div.filter-details-wrapper {
        position: absolute;
        display: none;
        top: 62px;
        left: 0;
        right: 0;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 20px;

        div.filter-options {
            display: none;
            .pull-right {
              float: right;
            }
            .pull-left, .gender-list {
              margin-left: 0;
            }
            
            &.active {
                display: block;
            }
            h4 {
                text-align: center;
                font-size: 15px;
                margin-bottom: 15px;
            }
            input.datepicker {
                width: 90%;
				        height: auto;
                padding: 4px;
                display: block;
            }
            .filter-textbox {
                background-color: @kids-green2;
                border-radius: 3px;
                color: darken(@kids-green, 10%);
                font-size: 13px;
                padding: 9px;
                text-align: center;
                p {
                    margin-bottom: 1em;
                }
                &.filled {
                    background-color: @kids-green;
                    p {
                        color: white;
                    }
                }
                .btn-filter {
                    display: block;
                    padding: 6px 0px;
                    text-align: center;
                    background-color: @kids-green;
                    color: white;
                    border-radius: 3px;
                    font-size: 13px;
                    line-height: 13px;
                    text-transform: uppercase;
                    width: 100%;
                    &.inline {
                        width: auto;
                        display: inline-block;
                        padding-left: 10px; padding-right: 10px;
                        &#editAddress {
                          text-transform: none;
                        }
                    }
                    
                    &:hover {
                        background-color: darken(@kids-green, 10%);
                    }
                    .icon {
                        display: inline-block;
                        font-size: 20px;
                        vertical-align: -20%;
                    }
                } // .btn-filter
            } // .filter-textbox

        } // .filter-options

        footer {
            .kids-clearfix();
            border-top: 1px dashed #ccc;
            //padding-top: 20px;
            margin-top: 20px;
            a.clear {
                //float: left;
                color: @kids-blue2;
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'ProximaNova-Sbold',Arial,sans-serif;
                margin-top: 16px;
                display: inline-block;
            }
            button {
                float: right;
            }
        } // footer

    } // div.filter-details-wrapper

    &.filter-open {
        div.filter-details-wrapper {
            display: block;
        }
    }
    
    // this should be hidden by default
    .kids-added {
      display: none;
      a.add {
        display: block;
        font-family: 'ProximaNova-Sbold',Arial,sans-serif;
        text-align: center;
        cursor: pointer;
        font-size: 13px;
        margin-top: 6px;
        &:hover {
          color: @kids-green;
          text-decoration: none;
        }
      }
    }

  } // .search-filter-bar

  div.search-filter-sort {
    text-align: right;
    font-family: 'ProximaNova-Sbold',Arial,sans-serif;
    font-size: 13px;
    line-height: 13px;
    color: #999;
    padding: 15px;
    position: relative;
    height: 16px;
    .kids-dashed-border-bottom();
    strong {
      color: @kids-blue2;
      font-weight: normal;
      cursor: pointer;
      span.arrow {
        font-size: 17px;
        vertical-align: -3px;
      }
    }
    ul {
      display: none;
      position: absolute;
      z-index: 300;
      right: 0;
      top: 46px;
      width: auto;
      border: 1px solid #ccc;
      li {
        text-align: left;
        background-color: white;
        cursor: pointer;
        // .kids-dashed-border-bottom();
        padding: 5px 10px;
        border: 0 none;
        &:hover {
          background-color: @kids-blue2;
          color: white;
        }
      }
    }
  }


  ul.switches {
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      .kids-clearfix();
      li {
          box-sizing: border-box;
          float: left;
          display: inline-block;
          padding: 8px 0;
          text-align: center;
          background-color: #cecece;
          color: white;
          border-radius: 3px;
          font-family: 'ProximaNova-Sbold',Arial,sans-serif;
          font-size: 13px;
          font-weight: normal;
          line-height: 13px;
          text-transform: uppercase;
          margin-right: 1%;
          margin-bottom: 2px;
          cursor: pointer;
          &:hover {
              //background-color: @kids-aqua;
              background-color: darken(#cecece,20%);
              div.ribbon-initial:after {
                border-color: transparent transparent darken(#cecece,20%) transparent !important;
              }
          }
          &.active, &.active:hover {
              background-color: @kids-green;
              div.ribbon-initial:after {
                border-color: transparent transparent @kids-green transparent !important;
              }
          }
      }
      &.half li { width: 49%; }
      &.third li { width: 32%; }
      &.quarter li { width: 24%; }
      &.full li { float: none; width: 100%; margin-right: 0; }
      &.inline li {
          width: auto;
          padding-right: 12px;
          padding-left: 11px;
          margin-right: 2px;
      }
      &.kids-list {
        position: relative;
        li {
          text-align: left;
          text-transform: none;
          position: relative;
          margin-bottom: 8px;
          span.name {
            display: inline-block;
            padding-left: 10px;
          }
          span.controls {
            position: absolute;
            top: -6px;
            right: 5px;
            width: 50px;
            div.ribbon-initial {
              float: left;
              margin-right: 0;
              &:after {
                border-color: transparent transparent #cecece transparent;
              }
            }
            span.edit-icon {
              font-size: 20px;
              margin-top: 9px;
              float: right;
              display: inline-block;
            }
          }
        }
      }
  } // ul.switches

} // body.kidspage

@media screen and (max-width:767px) {
  body.kidspage {
    .search-filter-bar {
      background-color: transparent;
      z-index: 1;
      > ul {
        float: none;
        width: 100%;
        li {
          background-color: #f5f5f5;
          border-bottom: 1px solid #ccc;
          border-top: 1px solid #ccc;
          font-size: 16px;
          width: 50%;
          span.filter-icon {
            font-size: 30px;
          }
          &:nth-child(2n + 2){
            border-left: 1px solid #ccc;
          }
          &:nth-child(1n + 3){
            border-top: none;
          }
          &.active {
            border-bottom: 1px solid #ccc;
            border-left: none;
            border-right: none;
            border-top: 1px solid #ccc;
            &:nth-child(2n + 2){
              border-left: 1px solid #ccc;
            }
            &:nth-child(1n + 3){
              border-top: none;
            }
          }
          &[data-filter='who'].active {
            border-left: 1px solid #ccc;
            border-bottom-color: transparent;
          }
          &[data-filter='what'].active {
            border-right: 1px solid #ccc;
            border-bottom-color: transparent;
          }
        }
      }
      div.filter-details-wrapper {
        border-top: 0 none;
        top: 123px;
        z-index: 5;

        div.filter-options {
          
          h5 {
            text-align: center;
            margin-bottom: 10px;
          }
          input.datepicker { width: 100%; }

          &.what {
            ul.switches {
              li {
                width: 49%;
                font-size: 12px;
              }
            }
          }

          &.when {
            .date-selection {
              display: none;
            }
          }

        } // div.filter-options
        
        footer {
          padding-top: 20px;
          a.clear, button {
            display: block;
            float: none;
            margin: 0 auto;
            text-align: center;
          }
          button {
            margin-top: 0.675em;
          }
        }
      }
      div.active-eligible {
        border: none;
        width: auto;
      }
      &.filter-open div.active-eligible {
        border: none;
      }
    } // .search filter bar

    div.search-filter-sort {
      margin-top: -40px;
      padding: 0 5px 20px 0;
      z-index: 2;
      .no-pointer-events();

      strong {
        .use-pointer-events();
      }

      &.filter-open {
        display: none;
      }

      ul {
        .use-pointer-events();
        top: 35px;
        width: 100%;
        li {
          font-size: 14px;
          line-height: 22px;
        }
      }
    } // div.search-filter-sort

    .filter-options {
      .row-fluid [class*="span"] {
        margin-bottom: 1em;
        margin-right: 0;
        width: 100%;
      }
    }
    .location {
      display: block;
    }

    ul.switches {
      li {
        &:hover {
          background-color: #cecece;
          div.ribbon-initial:after {
            border-color: transparent transparent #cecece transparent !important;
          }
        }
      }
    }

  } // body.kidspage
} // @media screen and (max-width:767px)
